body {
    background-color: black;
}
h1 {
    color: #E63AD5;
    text-align: center;
}

h3 {
    color: #D5E63A;
    border: 2px solid;
    border-color: #E63AD5;
    padding: 20px;
    background-color: #3ad5e6;
    margin: 40px;
    height: 50px;
    width: 50px;
    display: inline;
}

li {
    color: #3ad5e6;
}